/* Настройка ширины полосы прокрутки */
::-webkit-scrollbar {
    width: 0px; /* Ширина вертикальной полосы прокрутки */
    height: 5px; /* Высота горизонтальной полосы прокрутки */
}

/* Настройка фона полосы прокрутки */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Цвет фона полосы прокрутки */
}

/* Настройка цвета ползунка полосы прокрутки */
::-webkit-scrollbar-thumb {
    background: #dcd8d8; /* Цвет ползунка */
    border-radius: 4px; /* Скругление ползунка */
}

/* Настройка цвета ползунка при наведении */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Цвет ползунка при наведении */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
    line-height: 1.2;
    background-image: url("/static/img/bg_4.png");
    background-size: cover;  /* Заполняет весь экран */
    background-repeat: no-repeat;  /* Не повторяет изображение */
    background-position: center;  /* Центрирует изображение */
    overflow: hidden;
    height: 100%;
}

/* Основная обертка */
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    padding: 5px;
    box-shadow: inset 0 0 0 5px black;
}

/****************************
HEADER 
****************************/
.header {
    display: flex;
    width: 100%;
    height: 130px;
    text-align: center;
}

.header__block__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    background: linear-gradient(to right,
        /* rgb(3, 2, 28,); Цвет бека для хедера. */
        rgba(3, 2, 28, 1) 0%,       /* Черный цвет слева */
        rgba(3, 2, 28, 1) 20%,       /* Черный цвет слева */
        rgba(3, 2, 28, 0) 50%,      /* Прозрачный цвет справа */
        rgba(3, 2, 28, 1) 80%,      /* Прозрачный цвет справа */
        rgba(3, 2, 28, 1) 100%        /*!* Завершение черного цвета справа *!*/
        /*rgba(0, 0, 0, 1) 0%,       !* Черный цвет слева *!*/
        /*rgba(0, 0, 0, 1) 20%,       !* Черный цвет слева *!*/
        /*rgba(0, 0, 0, 0) 50%,      !* Прозрачный цвет справа *!*/
        /*rgba(0, 0, 0, 1) 80%,      !* Прозрачный цвет справа *!*/
        /*rgba(0, 0, 0, 1) 100%        !*!* Завершение черного цвета справа *!*!*/
    );
}

.header__logo__miran {
    width: 20%;
    height: 100px;
    margin-right: auto;
}

.header__date {
    width: 80%;
    margin-right: 10px;
}

#currentDay,
#currentDate {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: end;
    margin-right: 5px;
}

.header__block__time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    /* rgb(3, 2, 28,); Цвет бека для хедера. */
    background-color: rgb(3, 2, 28);
    /*background-color: rgb(0, 0, 0);*/
}

.header__logo__time {
    flex-grow: 5; 
    width: 70px;  
    height: 75px; 
    display: flex; /* Используйте flex для центровки содержимого */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
}

.header__current__time{
    /* border: 1px solid red; */
    flex-grow: 5;
    color: white;
    font-size: 92px;
}

/****************************
END HEADER
****************************/

/**************************** 
MAIN
****************************/
.main {
    display: flex;
    flex: 1;
    width: 100%;
    overflow: hidden;
    height: calc(100vh - 260px);
}

/* Левая часть основной части*/
.main-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    max-height: 100%;
    padding: 0 3rem;
    color: white;
}

.main-left-bg-free {
    box-shadow:
    inset 3px 3px 5px rgba(134, 208, 139, 0.9),   /* Темная внутренняя тень справа и снизу */
    inset -3px -3px 20px rgba(0, 0, 0, 0.9);

    background: linear-gradient(to right,
        rgba(2, 211, 16, 0.9) 0%,
        rgba(1, 173, 12, 0.9) 50%,
        rgba(0, 61, 13, 0.9) 100%
    );
    /*background: linear-gradient(to right,*/
    /*    rgba(34, 138, 30, 0.5) 0%,*/
    /*    rgba(34, 138, 30, 0.5) 50%,*/
    /*    rgba(34, 138, 30, 0.5) 100%*/
    /*);*/
}

.main-left-bg-reserved {
    box-shadow:
    inset 3px 3px 5px rgba(208, 99, 99, 0.9),   /* Темная внутренняя тень справа и снизу */
    inset -3px -3px 20px rgba(0, 0, 0, 0.9);

    background: linear-gradient(to right,
        rgba(189, 5, 12, 0.9) 0%,
        rgba(121, 19, 19, 0.9) 50%,
        rgba(154, 24, 24, 0.9) 100%
    );
}

.main__title, .main__time, .main__status, .main__timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    height: 230px;
    position: relative;
    border-bottom: 3px solid rgba(255, 255, 255, 0.15); /* Светлая полупрозрачная граница */
    z-index: 1;
    /*box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); !* Тень под границей *!*/
    /*padding: 1rem 0; !* Дополнительное пространство вокруг текста *!*/
}

.main__title {
    font-size: 5rem;
}

.main__time {
    font-size: 8rem;
}

.main__title::before, .main__time::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); /* Центрирует по вертикали */
    width: 100%;
    height: 1.3em; /* Высота, равная высоте текста */
    background: linear-gradient(to right,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.2) 50%,
        rgba(0, 0, 0, 0) 100%);
    z-index: -1; /* Перемещает под текст */
    pointer-events: none;
}

.main-left-bg-reserved .main__timer::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%; /* Затемняет правую половину */
    background: linear-gradient(to left,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.2) 50%,
        rgba(0, 0, 0, 0) 100%);
    );
    ); /* Градиент от тёмного справа к прозрачному слева */
    z-index: -1; /* Помещает градиент за текст */
    pointer-events: none; /* Исключает взаимодействие с псевдоэлементом */
}

.main__timer {
    border-bottom: none;
}

.main__status {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.main_one_line {
    font-size: 5rem;
}

.main_two_line {
    font-size: 3rem;
}

.main__timer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    font-size: 3rem;
}

.main__timer__text {
    padding-bottom: 20px;
    padding-right: 20px;
}

#timer__off {
    font-size: 8rem;
}

/* Правая часть основной части*/
.main-right {
    width: 30%;
    max-height: 100%;
}

/*************************** 
CARDS
***************************/
.container-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: #f4f4f4;
    gap: 8px;
}

.card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    background-color: rgba(14, 18, 31, 0.5);
}

.card_current_time {
    padding-right: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    font-size: 3rem;
}

.green_status {
    background: linear-gradient(to right,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 255, 0, 0) 0%,
        rgba(0, 255, 0, 0.8) 90%
    );
    transition: 0.5s;
}

.red_status {
    background: linear-gradient(to right,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 255, 0, 0) 0%,
        rgba(255, 0, 0, 0.9) 100%
    );
    transition: 0.5s;
}

.card_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
}

.card__time {
    display: flex;
    justify-content: end;
    font-size: 2.5rem;
    padding: 2px 10px;
}

.card__description {
    padding: 0 5px 2px 5px;

    overflow: hidden;
    display: -webkit-box;  /* Используется для поддержки обрезания текста */
    -webkit-line-clamp: 2;  /* Ограничивает текст двумя строками */
    -webkit-box-orient: vertical;  /* Определяет ориентацию контейнера */
    white-space: normal;   /* Отключает ограничение одной строки */
    text-overflow: ellipsis;  /* Добавляет многоточие, если текст выходит за пределы */
}

.one_line {
    font-size: 2.5rem;
}

.two_line {
    font-size: 1.7rem;
}

.card__color {
    width: 5%;
    background-color: green;
    transition: background-color 0.3s;
}
/*************************** 
END CARDS
***************************/

/**************************** 
END MAIN
****************************/

/**************************** 
FOOTER
****************************/
.footer {
    display: flex;
    height: 130px;
    width: 100%;
    /*opacity: 1;*/
    text-align: center;
    margin-top: auto;
    justify-content: start;

}

.footer__icons__items {
    padding-left: 50px;
    display: flex;
    justify-content: start;
    align-items: center; /* Выровнять по верхнему краю футера */
    gap: 60px;
    /*height: 80%; !* Занимает 80% от высоты футера *!*/
}

.footer__icon {
    display: flex;
    align-items: center; /* Центрирует иконки внутри каждого элемента */
    justify-content: center;
    width: 120px;
    height: 120px;
    /*background: black;*/
    background:  rgba(3, 2, 28, 1) 100%;
    border-radius: 50%;
    position: relative;
}

.footer__img {
    width: 80px;
    height: 80px;
}

.footer__rate, .footer__weather {
    position: absolute;
    bottom: 0px;
    left: 90px;
    font-size: 1.5rem;
    color: white;
    background: rgba(3, 2, 28, 1) 100%;
    /*background: black;*/
    padding: 5px;
    border-radius: 10px;
}

.footer__icon:nth-of-type(2) .footer__img {
    margin-right: 35px; /* Сдвиг вправо */
    transform: translateX(10px); /* Сдвиг вправо на 10px */
}
