{% extends 'rooms/base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block css %}
{% endblock css %}


{% block content %}

<div class="wrapper">
    <header class="header">
        <div class="header__block__menu">
            <div class="header__logo__miran">
                <img src="{% static 'img/logo.png' %}"
                     class="logo__miran"
                     width="144"
                     height="100"
                     alt="">
            </div>
            <div class="header__date">
                <div class="header__current__workday">
                    <span id="currentDay"></span>
                </div>
                <div class="header__currnet__date">
                    <span id="currentDate"></span>
                </div>
            </div>
        </div>
        <div class="header__block__time">
            <div class="header__logo__time">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="70"
                        height="70"
                        fill="currentColor"
                        class="bi bi-clock"
                        viewBox="0 -1 16 18"
                        color="white"
                        stroke="white"
                        stroke-width="0.5"
                >
                    <path
                            d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"
                    />
                    <path
                            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"
                    />
                </svg>
            </div>
            <div class="header__current__time">
                <span id="moscowTime"></span>
            </div>
        </div>
    </header>

    <div class="main">
        <main class="main-left" id="main-left">
            <div class="main__title" id="main__title">
                Переговорная 1 этаж
            </div>
            <div class="main__time" id="main__time"></div>
            <div class="main__status" id="main__status"></div>
            <div class="main__timer">
                <div class="main__timer__text" id="main__timer__text"></div>
                <div id="timer__off"></div>
            </div>
        </main>
        <aside class="main-right">
            <div class="container-card" id="events-container">
            </div>
        </aside>
    </div>

    <footer class="footer"></footer>
</div>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        //setInterval(updateMoscowTime, 1000);
        // Инициализация отображения времени при загрузке страницы
        //updateMoscowTime();
        // Обновление даты и дня недели при загрузке страницы
        //updateDateTime();

        // Устанавливаем таймер для обновления в полночь
        // setInterval(() => {
        //     const now = new Date();
        //     if (now.getHours() === 0 && now.getMinutes() === 0) {
        //         updateDateTime();
        //     }
        // }, 60 * 60 * 1000); // Проверка каждый час

        // CARDS
        // const jsonString = "{{ data|escapejs }}";
        // const events = JSON.parse(jsonString);  // Преобразуем JSON-строку в объект JavaScript
        //
        // const eventsContainer = document.getElementById("events-container");
        // const mainEvents = equalsTime(events);
        // const currentEvent = mainEvents[0]
        //
        // console.log(mainEvents.length, mainEvents);
        //
        // document.getElementById("main-left").classList.add(`${currentEvent.status === 'free' ? 'main-left-bg-free' : 'main-left-bg-reserved'}`);
        // document.getElementById("main__status").textContent = `${currentEvent.summary}`;
        // document.getElementById("main__time").textContent = `
        //     ${new Date().toLocaleTimeString('ru-ru', {hour: '2-digit', minute: '2-digit'})} -
        //     ${new Date(currentEvent.end).toLocaleTimeString('ru-ru', {hour: '2-digit', minute:
        //         '2-digit'})}
        // `;
        // document.getElementById("main__timer__text").textContent = `
        //      ${currentEvent.status === "reserved" ? 'Освободится через :' : ''}
        // `;
        // document.getElementById("timer__off").textContent = currentEvent.status === "reserved" ? showDiffTime(currentEvent) : '';
        //
        // if (mainEvents.length === 1) {
        //     console.log("ONLY ONE ITEM");
        //     eventsContainer.appendChild(createFirstCardDiv(mainEvents));
        // } else {
        //     console.log("MANY ITEMS");
        //     eventsContainer.appendChild(createFirstCardDiv(mainEvents));
        //
        //     mainEvents.slice(1).forEach(event => {
        //         const card = createOtherCardDiv(event);
        //         eventsContainer.appendChild(card);
        //     });
        // }

        fetchDataEveryMinute();
        reloadPageOnHourSync();
    });
</script>
{% endblock %}

