<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница не найдена</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            text-align: center;
            padding: 50px;
        }
        h1 {
            font-size: 50px;
        }
        p {
            font-size: 20px;
        }
        a {
            color: #3498db;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>404</h1>
    <p>Извините, страница не найдена.</p>
    <p>Доступные URLs.</p>
    <a href="/rooms/first/">Переговорная 1 этажа</a><br>
    <a href="/rooms/second/">Переговорная 2 этажа</a><br>
    <a href="/rooms/third/">Переговорная 3 этажа</a><br>
    <a href="/rooms/class-room/">Учебный класс</a>
</body>
</html>
